<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/site.css')}}">
<script src="{{url_for('static',filename='js/site.js')}}"></script>

<div class="action-bar-items">
    <div class="settings-button"><a href="{{ url_for('config_page') }}" class="btn">⚙️</a></div>
    <p>Last updated: {{ last_refresh }}</p>    
    <button type="submit" onclick="refreshMap()">Refresh Map</button>
    <div id="error" style="color: red;"></div>
    <div id="total-devices">Total Devices: <span id="total-devices-count"></span></div>
</div>