<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/site.css')}}">
<script src="{{url_for('static',filename='js/site.js')}}"></script>

<div class="content">
    <div class="header">
        <div class="title-bar">
            <h1>Knox Device Map</h1>
        </div>
        <div class="action-bar">
            {% include 'actionbar.html' %}
        </div>
    </div>
    <div class="map-container">
        <div id="loader-container" class="loader-container">
            <div id="loader" class="loader"></div>
        </div>
        <div class="map" id="map">
            {% include 'map.html' %}
        </div>
    </div>
</div>